CompileFlags:
  Add:
    - -std=c++20
    - -Iinclude
    - -Itools
    - -Itools/cfprobs
    - -DLOCAL
    - -Wall
    - -Wextra
    - -Wpedantic

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    Remove:
      - "*"
